<section class="hero_section dashboard-hero">
</section>

<h1 class="bold dashboard-header">Welcome!</h1>
<h4 class="bold dashboard-header">Here's the information you have registered</h4>
<div class="info-container-div">
    <div class="text-center info-container">
        <span class="bold">First Name:</span>
        <span>{{data.firstName}}</span>
    </div>
    <div class="text-center info-container">
        <span class="bold">Last Name:</span>
        <span>{{data.lastName}}</span>
    </div>
    <div class="text-center info-container">
        <span class="bold">Email:</span>
        <span>{{data.email}}</span>
    </div>
</div>
<h4 class="bold dashboard-header">Add more packages to our store!</h4>
<div style="margin: 10px auto;" class="dashboard-btn-container">
    <a href="/packages.hbs" class="login-btn-2">Add packages</a>
    <a href="/logout" class="login-btn-2">Log out</a>
</div>