<section class="hero_section hero_section_packages">
</section>

<section>
    <div class="form-add-packages">
        <div class="package-detail">
            <h1 class="bold text-center">Package Detail</h1>
            <div class="packages-divide-line"></div>
            <div class="package-detail-container">
                <div class="package-detail-img"><img src={{data.image}} alt=""></div>
                <div class="package-detail-info">
                    <h4 class="x-bold" style="margin: 0 0 20px 0;">{{data.name}}</h4>
                    <p class="normal" style="margin: 0 0 10px 0;">{{data.description}}</p>
                    <p class="price bold" style="margin: 0;">$ {{data.price}}</p>
                </div>
            </div>
        </div>
    </div>

</section>